@{
    ViewBag.Title = "Info";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<article>
    <p>
        Deze applicatie laat bedrijven toe zich kandidaat te stellen om stageplaatsen aan te bieden.
        Aangeboden stageplaatsen zullen door de school worden goedgekeurd of afgekeurd. In beide gevallen
        krijgt u een gepaste melding. Bij goedkeuring wordt u aanvraag zichtbaar gemaakt voor de studenten
        en kunnen zij zich aanmelden om bij u stage te lopen.
    </p>
</article>

