@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Stijn De Raeve - Zenner:</span>
        <span>stijn.deraevezenner.t8188@student.hogent.be</span>
    </p>
    <p>
        <span class="label">Dries Willems:</span>
        <span>dries.willems.t2081@student.hogent.be</span>
    </p>
    <p>
        <span class="label">Yannick Servranckx:</span>
        <span>yannick.servranckx.t3539@student.hogent.be</span>
    </p>
</section>

